body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 4vh;
}

h2 {
  /* font-size: 2em; */
  /* font-size: 200%; */
  font-size: 3.4vh;
  margin-bottom: 0;
}
h3 {
  /* font-size: 1.7em; */
  /* font-size: 170%; */
  font-size: 3vh;
  margin-bottom: 0;
}
.container2 {
  height: 100vh;
  width: 100vh;
  margin: auto;
}

.game-area {
  /* background-color: blue; */
  background-color: #2196f3;
  grid-area: game-area;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
.block-area {
  background: rgb(0, 95, 0);
  grid-area: block-area;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding: 10px;
}

.side-area {
  background-color: #0083ee;
  grid-area: side-area;
  display: flex;
  flex-direction: column;
}

.side-area-bottom {
  height: 6rem;
  background-color: #73c0ff;
  display: flex;
  align-items: center;
  margin-bottom: auto;
}
.side-area-open-games {
  flex-grow: 1;
}
.side-area-bottom h4 {
  font-size: 2rem;
  margin: 6px;
}
.side-area-bottom button {
  width: 4rem;
  height: 4rem;
  margin: 6px;
  font-size: 2rem;
  border-radius: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "side-area game-area game-area game-area"
    "side-area game-area game-area game-area"
    "side-area game-area game-area game-area"
    "side-area block-area block-area block-area";
  grid-gap: 10px;

  background-color: blue;
  padding: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.tile {
  background: lightblue;
}

.block {
  background: tan;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  text-align: center;
}

.block.yours {
  background: green;
}
.block.theirs {
  background: red;
}
.block.selected {
  background: yellow;
}
.yours .block-direction {
  background: rgb(65, 141, 65);
}
.theirs .block-direction {
  background: #ff4040;
}

/* .grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
} */

/* .item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; } */

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

.open-game {
  display: grid;
  grid-template-columns: 35px 1fr max-content;
  grid-gap: 10px;
  color: #ddd;
  font-size: 1.3rem;
  border-bottom: 1px solid #002c88;
  padding: 10px 10px 10px 10px;
}

.open-game.active,
.open-game:hover {
  background: #002c88;
}

.open-game:hover {
  cursor: pointer;
}

.open-game > img {
  grid-row: span 2;
  height: 50px;
  border-radius: 100%;
}

.name-text {
  font-weight: bold;
  color: #eee;
  padding-left: 5px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.last-move-date {
  color: #ddd;
  font-size: 1rem;
}

.open-game-message {
  grid-column: span 2;
  padding-left: 5px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.center-container {
  margin: 10rem auto 0;
  max-width: 40rem;
}
.center-items {
  text-align: center;
}

.player-heading {
  display: grid;
  grid-template-columns: 53px 1fr max-content;
  grid-gap: 3px;
  color: #ddd;
  font-size: 1.3rem;
  border-top: 1px solid #002c88;
  border-bottom: 1px solid #002c88;
  padding: 10px 10px 10px 10px;
}
.player-heading p {
  margin: 0;
}
.player-heading button {
  color: black;
}

.player-heading > img {
  grid-row: span 2;
  height: 50px;
  border-radius: 100%;
}

.player-heading-message {
  grid-column: span 2;
  padding-left: 5px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.player-heading-name {
  font-weight: bold;
  color: #eee;
  padding-left: 5px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.player-heading-logout {
  color: #ddd;
  font-size: 1rem;
}

.new-chat-modal {
  width: 33rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.new-chat-modal-body {
  width: 100%;
  height: 20rem;
  background-color: rgb(230, 230, 230);
  overflow: scroll;
}

.new-chat-modal-added-users {
  display: flex;
}
.new-chat-modal-added-users button {
  height: 1.8rem;
  width: 1.8rem;
  text-align: center;
  margin-left: 2px;

  padding: 0;
}

.new-chat-modal-added-user {
  margin-right: 0.2rem;
  border: 0.6px solid #ddd;
  border-color: rgb(0, 123, 255) !important;
  background-color: rgb(184, 219, 255) !important;
  /* min-width: 4rem; */
  height: 2.6rem;
  padding-left: 4px;
  padding-right: 2px;
  text-decoration: none;
  font-size: 12px;
  color: black;
  /* display: block; */
  text-align: center;
  vertical-align: middle;
  line-height: 2rem;
}

.new-chat-modal ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.new-chat-modal li {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 8px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

.new-chat-modal img {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

.new-chat-modal li:hover:not(.header) {
  background-color: #eee;
}

.new-chat-modal-item-found {
  background-color: rgb(204, 204, 204) !important;
}

.current-game-heading {
  background-color: rgb(143, 191, 255);
  display: flex;
  flex-wrap: wrap;
  min-height: 80px;
  width: 100%;
  color: black;
  font-size: 1.3rem;
  border-bottom: 1px solid #002c88;
  padding: 10px 10px 10px 10px;
}

.current-game-heading > img {
  height: 40px;
  border-radius: 100%;
}
.current-game-heading-score > p {
  margin: 0 10px;
}
.current-game-heading button {
  margin-left: auto;
  width: 50px;
}

.current-game-heading-message {
  grid-column: span 2;
  padding-left: 5px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.current-game-heading-name {
  font-weight: bold;
  color: #eee;
  padding-left: 5px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.current-game-heading-logout {
  color: #ddd;
  font-size: 1rem;
}

.game-message {
  background-color: #2195f398;
  grid-area: game-area;

  text-align: center;
  margin: auto;
  width: 60%;
}

.game-message-small {
  background-color: #2195f398;
  grid-area: game-area;

  text-align: center;
  margin: auto;
  width: 34%;
}
