body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container2 {
  height: 100vh;
  width: 100vh;
  margin: auto;
}

.game-area {
  background-color: blue;
  grid-area: game-area;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
.block-area {
  background-color: red;
  grid-area: block-area;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding: 10px;
}

.side-area {
  background-color: green;
  grid-area: side-area;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "side-area game-area game-area game-area"
    "side-area game-area game-area game-area"
    "side-area game-area game-area game-area"
    "side-area block-area block-area block-area";
  grid-gap: 10px;
  background-color: #2196f3;
  padding: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.tile {
  background: lightblue;
}

.block {
  background: tan;
}

/* .grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
} */

/* .item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; } */
