body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 4vh;
}

h2 {
  /* font-size: 2em; */
  /* font-size: 200%; */
  font-size: 3.4vh;
  margin-bottom: 0;
}
h3 {
  /* font-size: 1.7em; */
  /* font-size: 170%; */
  font-size: 3vh;
  margin-bottom: 0;
}
.container2 {
  height: 100vh;
  width: 100vh;
  margin: auto;
}

.game-area {
  /* background-color: blue; */
  background-color: #2196f3;
  grid-area: game-area;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
.block-area {
  background: rgb(0, 95, 0);
  grid-area: block-area;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding: 10px;
}

.side-area {
  background-color: #0083ee;
  grid-area: side-area;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "side-area game-area game-area game-area"
    "side-area game-area game-area game-area"
    "side-area game-area game-area game-area"
    "side-area block-area block-area block-area";
  grid-gap: 10px;

  background-color: blue;
  padding: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.tile {
  background: lightblue;
}

.block {
  background: tan;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  text-align: center;
}
.block.selected {
  background: yellow;
}
.block.yours {
  background: green;
}
.block.theirs {
  background: red;
}
.yours .block-direction {
  background: rgb(65, 141, 65);
}
.theirs .block-direction {
  background: #ff4040;
}

/* .grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
} */

/* .item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; } */

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

.open-game {
  display: grid;
  grid-template-columns: 40px 1fr max-content;
  grid-gap: 10px;
  color: #ddd;
  font-size: 1.3rem;
  border-bottom: 1px solid #002c88;
  padding: 20px 20px 20px 15px;
}

.open-game.active,
.open-game:hover {
  background: #002c88;
}

.open-game:hover {
  cursor: pointer;
}

.open-game > img {
  grid-row: span 2;
  height: 40px;
  border-radius: 100%;
}

.name-text {
  font-weight: bold;
  color: #eee;
  padding-left: 5px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.last-move-date {
  color: #ddd;
  font-size: 1rem;
}

.open-game-message {
  grid-column: span 2;
  padding-left: 5px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
